# Análise exploratória de dados

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from pathlib import Path
import seaborn as sns 
from IPython.display import display, Markdown

## 1. Descrição dos dados

### Conjunto de dados

Este conjunto de dados é uma coleção de mais de 90 mil carros abrangendo os anos de 1970 a 2024. Além disso, conta com informações como o modelo, preço,quilometragem, transmissão, tamanho do motor, fabricante e tipo de combustível.

In [4]:
df = pd.read_csv('../data/raw/CarsData.csv')
df.to_csv('../data/raw/CarsData.csv', index=False)

#### Dimensão do DataFrame

In [5]:
df.shape

(97712, 10)

#### Visão geral dos dados

In [6]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

#### Informações da tabela

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97712 entries, 0 to 97711
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         97712 non-null  object
 1   year          97712 non-null  int64
 2   price         97712 non-null  int64
 3   transmission  97712 non-null  object
 4   mileage       97712 non-null  int64
 5   fuelType      97712 non-null  object
 6   tax           97712 non-null  int64
 7   mpg           97712 non-null  float64
 8   engineSize    97712 non-null  float64
 9   Manufacturer  97712 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 7.5+ MB

#### Colunas da tabela

In [33]:
df.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'Manufacturer'],
      dtype='object')

In [35]:
df_dc = pd.read_csv('../data/external/DictionaryCarsData.csv')
df_dc.head()

       Variável                             Descrição
0         Model                     O modelo do carro
1          Year          O ano de fabricação do carro
2         Price                      O preço do carro
3  Transmission  O tipo de transmissão usado no carro
4       Mileage              A quilometragem do carro

## 2. Perguntas de partida e hipóteses

## 3. Insights