# Análise exploratória de dados

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from pathlib import Path
import seaborn as sns 
from IPython.display import display, Markdown

## 1. Descrição dos dados

In [14]:
df = pd.read_csv('../data/raw/CarsData.csv')
df.to_csv('../data/raw/CarsData.csv', index=False)

In [32]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

In [33]:
df.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'Manufacturer'],
      dtype='object')

In [35]:
df_dc = pd.read_csv('../data/external/DictionaryCarsData.csv')
df_dc.head()

       Variável                             Descrição
0         Model                     O modelo do carro
1          Year          O ano de fabricação do carro
2         Price                      O preço do carro
3  Transmission  O tipo de transmissão usado no carro
4       Mileage              A quilometragem do carro

## 2. Perguntas de partida e hipóteses

## 3. Insights